# global ignores
bin
obj
*.suo
*.user
_Resharper*
Thumbs.db

# solution specific ignores
TestConfigs
Valtech.ConfigFramework/output/
Valtech.Core.Website/Configs/
Valtech.Core.Website/*.config
!Valtech.Core.Website/packages.config
Valtech.Core.Website/node.txt