@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
h1 {
  color: #f38925;
  margin-top: 4%;
}
@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
}
h2,
h3,
h4 {
  font-weight: 700;
  margin-top: 50px;
}
article h2 {
  padding-bottom: 7px;
}
article ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
article li {
  padding-left: 1.5em;
}
article li:before {
  content: "\002022";
  color: #f38925;
  padding-right: 7px;
  font-weight: bold;
  font-size: 20px;
}
h4 {
  margin-top: 21px;
}
p {
  margin: 0 0 22px;
}
p a,
p a:visited,
p a:hover {
  color: #0079b2;
  text-decoration: underline;
}
.content-header {
  padding-right: 20%;
}
.right-aligned {
  text-align: right;
}
img[src*=TrackerHandler] {
  display: none;
}
blockquote {
  margin-bottom: 2%;
  background: #262626;
  float: right;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  color: #ffffff;
  display: table;
  font-size: 1.75em;
  font-style: italic;
  font-weight: 600;
  border-left: none;
}
blockquote span {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.3em;
}
@media (min-width: 992px) {
  blockquote {
    margin-right: -75px;
  }
}
#mainarea img {
  display: block;
  max-width: 100%;
  height: auto;
  display: inline-block;
}
#mainarea img[style*="float: left"] {
  margin: 5px 10px 5px 0;
}
#mainarea img[style*="float: right"] {
  margin: 5px 0 5px 10px;
}
@media (max-width: 767px) {
  #mainarea img[style*="float: left"],
  #mainarea img[style*="float: right"] {
    margin: 10px 0;
    width: 100%;
  }
}
#mainarea .center {
  text-align: center;
}
#mainarea .link-list {
  border: 2px solid #f2f2f2;
  border-bottom: 3px solid #e5e5e5;
  border-radius: 5px;
  min-width: 210px;
}
#mainarea .link-list h3 {
  margin: -10px 20px 0 20px;
  padding: 0 10px;
  font-size: 16px;
  border-bottom: none;
  background: #fff;
  display: table;
}
#mainarea .link-list ul {
  padding-left: 0;
  margin: 0;
}
#mainarea .link-list ul li {
  list-style-type: none;
  padding: 10px 10px 10px 15px;
  border-bottom: 1px solid #ffffff;
}
#mainarea .link-list ul li a {
  font-weight: 700;
  background: transparent url(/Static/img/bullet-square.png) no-repeat left 8px;
  padding-left: 24px;
  display: block;
  text-decoration: underline;
}
#mainarea .link-list ul li:before {
  content: none;
}
#mainarea .article-content .col-xs-12 {
  padding: 0;
}
#mainarea .content {
  min-height: 400px;
}
#mainarea .content .preamble {
  font-size: 1.25em;
}
#mainarea .content .quote-by {
  font-size: 0.9em;
  overflow: hidden;
  padding: 0 0 25px 0;
  border-bottom: 1px solid #e5e5e5;
}
#mainarea .content .quote-by img {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
#mainarea .content .quote-by strong {
  padding-top: 22px;
  display: inline-block;
}
#mainarea .content .qa-back-button a {
  background: transparent url(/Static/img/transparent-arrow-left.png) no-repeat left 0px;
  padding-left: 28px;
  text-decoration: none;
}
#mainarea .content .qa-back-button a:hover {
  text-decoration: underline;
}
#mainarea .content .updated-date {
  margin: 50px 0;
  font-size: 0.9em;
}
@media (max-width: 767px) {
  .navbar-default {
    margin-bottom: 5px;
  }
  .navbar-default .container {
    padding: 0;
  }
  .navbar-default .container .navbar-header {
    margin: 0;
    padding: 0;
  }
  .navbar-default .container .navbar-collapse {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .navbar-default {
    border-bottom: 1px solid #d9d9d9;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(54, 54, 54, 0.25);
    box-shadow: 0px 0px 4px 2px rgba(54, 54, 54, 0.25);
    border-radius: 0;
    margin-bottom: 0;
    border-top-width: 4px;
  }
}
.navbar-default .navbar-header-top {
  background: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  height: 25px;
}
.navbar-default .navbar-header-top .links {
  margin-right: 6%;
  float: right;
}
@media (max-width: 992px) {
  .navbar-default .navbar-header-top .links {
    margin-right: 3%;
  }
}
.navbar-default .navbar-header-top .links a {
  font-size: 12px;
  font-weight: 600;
  padding: 2px 0;
}
.navbar-default .navbar-header-top .links .divider-vertical {
  display: inline-block;
  height: 9px;
  margin: 0 9px;
  border-left: 1px solid #e6e6e6;
}
.navbar-default .navbar-header {
  display: inline-block;
  margin-top: 2px;
}
.navbar-default .navbar-header .navbar-brand {
  margin-left: 0;
  padding: 20px 0 0 0;
}
@media (max-width: 767px) {
  .navbar-default .navbar-header .navbar-brand {
    padding: 15px 0 0 10px;
  }
}
.navbar-default .navbar-nav {
  margin-top: 10px;
  margin-right: 4%;
}
@media (max-width: 992px) {
  .navbar-default .navbar-nav {
    margin-right: 0;
  }
}
.navbar-default .navbar-nav .dropdown-menu {
  background-color: #fef9f2;
  border-top: 5px solid #f38925;
  border-bottom: 5px solid #f38925;
  font-size: 16px;
}
.navbar-default .navbar-nav .dropdown-menu > li > a {
  text-transform: none;
}
.navbar-default .navbar-nav .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:focus {
  background-color: none;
}
.navbar-default .navbar-nav .dropdown-menu > li > a:hover span,
.navbar-default .navbar-nav .dropdown-menu > li > a:focus span {
  border-bottom: none;
  border-bottom: 4px solid transparent;
  text-decoration: underline;
}
.navbar-default .navbar-nav .divider-vertical {
  height: 30px;
  margin: 10px 9px;
  border-left: 1px solid #e6e6e6;
}
@media (max-width: 992px) {
  .navbar-default .navbar-nav .divider-vertical {
    margin: 10px 0;
  }
}
.navbar-default .navbar-nav .divider-vertical:last-child {
  display: none;
}
.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 992px) {
  .navbar-default .navbar-nav > li > a {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.navbar-default .navbar-nav > li > a:hover {
  color: #262626;
  text-decoration: underline;
}
.navbar-default .navbar-nav .open-menu {
  display: none;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav .dropdown-menu-wrapper {
    position: absolute;
    width: 300px;
    left: 50%;
    z-index: 1000;
    display: none;
  }
  .navbar-default .navbar-nav > li.dropdown > .dropdown-menu-wrapper > ul.dropdown-menu:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(59, 59, 59, 0);
    border-bottom-color: #f38925;
    border-width: 14px;
    left: 50%;
    margin-left: -14px;
  }
  .navbar-default .navbar-nav > li.dropdown:hover > .dropdown-menu-wrapper {
    display: block;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin-left: 0;
    margin-top: 0;
  }
  .navbar-default .navbar-nav .divider-vertical {
    display: none;
  }
  .navbar-default .navbar-nav > li {
    border-bottom: 1px solid #f5f5f5;
  }
  .navbar-default .navbar-nav > li > a {
    display: inline-block;
    width: 75%;
  }
  .navbar-default .navbar-nav .open-menu {
    display: block;
    float: right;
    padding: 5px;
    margin-right: 5px;
  }
  .navbar-default .navbar-nav .open-menu a,
  .navbar-default .navbar-nav .open-menu a:hover {
    color: #3b3b3b;
    text-decoration: none;
    display: none;
    font-size: 20px;
    padding: 0 15px 0 20px;
  }
  .navbar-default .navbar-nav .open-menu a.active,
  .navbar-default .navbar-nav .open-menu a:hover.active {
    display: inline-block;
  }
  .navbar-default .navbar-nav .dropdown-menu-wrapper,
  .navbar-default .navbar-nav .dropdown-menu-wrapper ul.dropdown-menu {
    position: initial;
    width: 100%;
    display: block;
    overflow: hidden;
  }
  .navbar-default .navbar-nav .dropdown-menu-wrapper {
    display: none;
  }
  .navbar-default .navbar-nav .dropdown-menu-wrapper.in {
    display: block;
  }
  .navbar-default .navbar-nav .dropdown-menu-wrapper ul.dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    margin: 3px 0 0;
    position: inherit;
  }
  .navbar-default .navbar-nav .dropdown-menu-wrapper ul.dropdown-menu:after {
    top: 21px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(59, 59, 59, 0);
    border-bottom-color: #f38925;
    border-width: 14px;
    left: 40px;
    margin-left: -14px;
  }
}
#sub-navigation {
  min-width: 210px;
  margin-bottom: 45px;
}
#sub-navigation h2 {
  margin: 0;
  padding: 15px 20px;
  background-color: #f38925;
  font-size: 16px;
  text-transform: uppercase;
}
#sub-navigation h2 a {
  color: #ffffff;
}
#sub-navigation ul {
  background-color: #fef9f2;
  border-top: 5px solid #f38925;
  border-bottom: 5px solid #f38925;
  border-radius: 5px;
  padding-left: 0;
}
#sub-navigation ul li {
  list-style-type: none;
  padding: 10px 10px 10px 20px;
}
#sub-navigation ul li:not(:first-child) {
  border-top: 1px solid #fdeddb;
}
#sub-navigation ul li a {
  color: #262626;
  font-weight: 700;
  padding-left: 24px;
  display: block;
}
#sub-navigation ul li.selected a {
  background: transparent url(/Static/img/sub-arrow.png) no-repeat left 3px;
}
.area-top {
  margin-bottom: 40px;
}
.area-top > div {
  position: relative;
}
.area-top > div:last-child .teaser-container:before {
  visibility: hidden;
}
.area-top > div:nth-child(even) .teaser-container {
  background-color: #f8f3e8;
}
.area-top > div:nth-child(even) .teaser-container:before {
  background-color: #f8f3e8;
}
.area-top .content-page-partial a {
  color: #262626;
  overflow: hidden;
  display: block;
}
.area-top .content-page-partial a:hover {
  text-decoration: none;
}
.area-top .content-page-partial a:hover p {
  text-decoration: underline;
}
.area-top .content-page-partial a:hover p:after {
  background-image: url(/Static/img/arrow-yellow.png);
}
.area-top .content-page-partial h2 {
  color: #307bb0;
  font-weight: 600;
  padding-bottom: 10px;
}
.area-top .content-page-partial p {
  padding-top: 10px;
  border-top: 2px solid #d3d3d3;
}
.area-top .content-page-partial p:after {
  content: "";
  width: 17px;
  height: 17px;
  background: url('/Static/img/transparent-arrow-dark.png') no-repeat;
  margin-left: 10px;
  display: inline-block;
}
.teaser-area {
  margin-bottom: 3%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .teaser-area > div {
    margin-bottom: 4%;
  }
}
.landingpage .teaser-container {
  border-bottom: none;
  box-shadow: none;
}
.landingpage .teaser-container:before {
  visibility: hidden;
}
.area-top .image-block,
#mainarea .image-block {
  background-color: #fef9f2;
  margin-left: 0;
  margin-right: 0;
}
.area-top .image-block .col-xs-12,
#mainarea .image-block .col-xs-12 {
  padding-right: 0;
  padding-left: 0;
}
.button-block {
  border-bottom: 2px solid #d9d9d9;
  font-size: 26px;
  font-weight: 600;
  border-radius: 5px;
  line-height: 1.3em;
  background-color: #f38925;
  position: relative;
}
@media (max-width: 767px) {
  .button-block {
    font-size: 22px;
  }
}
.button-block:hover a {
  text-decoration: none;
}
.button-block:hover .outer {
  text-decoration: underline;
}
.button-block a {
  color: #ffffff;
}
.button-block .outer {
  display: inline-block;
  padding: 20px;
  max-width: 80%;
}
@media (max-width: 767px) {
  .button-block .outer {
    padding: 15px;
  }
}
.button-block .inner {
  float: right;
  width: 20%;
  position: absolute;
  height: 100%;
  border-radius: 0 5px 5px 0;
  top: 0;
  right: 0;
  background: #f4a040 url(/Static/img/button-arrow.png) no-repeat center center;
}
.full-teaser-button {
  border-bottom: 4px solid #f38925;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .full-teaser-button img {
    float: none !important;
  }
}
.full-teaser-button h1 {
  color: #4d4d4d;
}
.full-teaser-button .button-block {
  display: inline-block;
  margin: 30px 0 5px 0;
}
.full-teaser-button .button-block a {
  display: inline-block;
}
.full-teaser-button .button-block .outer {
  vertical-align: top;
  display: inline-block;
}
.full-teaser-button .button-block .inner {
  display: inline-block;
  float: none;
  padding: 37px;
  vertical-align: bottom;
  position: inherit;
}
.teaser-container {
  border-bottom: 1px solid #f3ead8;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 40px 0 20px 0;
}
.teaser-container:before {
  content: '';
  width: 30px;
  height: 30px;
  /*border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid @white;*/

  position: absolute;
  background-color: #fff;
  bottom: -29px;
  left: 50%;
  margin-left: -15px;
  z-index: 10;
  -webkit-box-shadow: 1px 1px 2px #f3ead8;
  box-shadow: 1px 1px 2px #f3ead8;
  -webkit-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg);
  -ms-transform: translateY(-15px) rotate(45deg);
}
.teaser-container.gray {
  background-color: #f8f9f9;
}
.teaser-container.gray:before {
  background-color: #f8f9f9;
  bottom: -29px;
  left: 50%;
  margin-left: -15px;
  z-index: 10;
  -webkit-box-shadow: 1px 1px 2px #e3e3e3;
  box-shadow: 1px 1px 2px #e3e3e3;
  -webkit-transform: translateY(-15px) rotate(45deg);
}
.editorial-block .preamble {
  font-size: 1.7em;
  font-weight: bold;
}
.editorial-block .content-columns {
  font-size: 16px;
}
@media (min-width: 768px) {
  .editorial-block .preamble {
    text-align: center;
    padding: 0 6%;
  }
  .editorial-block .content-columns {
    padding: 0 15%;
    text-align: center;
  }
}
#mainarea .form-block {
  background-color: #ededed;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
#mainarea .form-block input {
  display: block;
}
#mainarea .form-block table tr td,
#mainarea .form-block table tr th {
  background-color: transparent;
  border-right: none;
}
.right-column-area .flex-teaser.col-sm-4 .size-D p,
#mainarea .flex-teaser.col-sm-4 .size-D p,
.right-column-area .flex-teaser.col-sm-6 .size-D p,
#mainarea .flex-teaser.col-sm-6 .size-D p,
.right-column-area .flex-teaser.col-sm-12 .size-D p,
#mainarea .flex-teaser.col-sm-12 .size-D p {
  font-size: 20px;
}
.right-column-area .flex-teaser.col-sm-4 .size-D img,
#mainarea .flex-teaser.col-sm-4 .size-D img,
.right-column-area .flex-teaser.col-sm-6 .size-D img,
#mainarea .flex-teaser.col-sm-6 .size-D img,
.right-column-area .flex-teaser.col-sm-12 .size-D img,
#mainarea .flex-teaser.col-sm-12 .size-D img {
  float: right;
  border: none;
  margin-right: 15%;
}
@media (max-width: 767px) {
  .right-column-area .flex-teaser.col-sm-4 .size-D img,
  #mainarea .flex-teaser.col-sm-4 .size-D img,
  .right-column-area .flex-teaser.col-sm-6 .size-D img,
  #mainarea .flex-teaser.col-sm-6 .size-D img,
  .right-column-area .flex-teaser.col-sm-12 .size-D img,
  #mainarea .flex-teaser.col-sm-12 .size-D img {
    margin-right: 0;
  }
}
.right-column-area .flex-teaser.col-sm-4 .size-M .header,
#mainarea .flex-teaser.col-sm-4 .size-M .header,
.right-column-area .flex-teaser.col-sm-6 .size-M .header,
#mainarea .flex-teaser.col-sm-6 .size-M .header,
.right-column-area .flex-teaser.col-sm-12 .size-M .header,
#mainarea .flex-teaser.col-sm-12 .size-M .header {
  padding-bottom: 10px;
  padding-top: 0;
}
.right-column-area .flex-teaser.col-sm-4 .size-M .content,
#mainarea .flex-teaser.col-sm-4 .size-M .content,
.right-column-area .flex-teaser.col-sm-6 .size-M .content,
#mainarea .flex-teaser.col-sm-6 .size-M .content,
.right-column-area .flex-teaser.col-sm-12 .size-M .content,
#mainarea .flex-teaser.col-sm-12 .size-M .content {
  border: 7px solid #f8f8f8;
  border-radius: 5px;
  min-height: 0;
}
.right-column-area .flex-teaser.col-sm-4 .size-M .content .inner,
#mainarea .flex-teaser.col-sm-4 .size-M .content .inner,
.right-column-area .flex-teaser.col-sm-6 .size-M .content .inner,
#mainarea .flex-teaser.col-sm-6 .size-M .content .inner,
.right-column-area .flex-teaser.col-sm-12 .size-M .content .inner,
#mainarea .flex-teaser.col-sm-12 .size-M .content .inner {
  border-bottom: 3px solid #d3d3d3;
  padding: 15px;
  border-radius: 3px;
  text-align: center;
}
.right-column-area .flex-teaser.col-sm-4 .size-M img,
#mainarea .flex-teaser.col-sm-4 .size-M img,
.right-column-area .flex-teaser.col-sm-6 .size-M img,
#mainarea .flex-teaser.col-sm-6 .size-M img,
.right-column-area .flex-teaser.col-sm-12 .size-M img,
#mainarea .flex-teaser.col-sm-12 .size-M img {
  margin-bottom: 10px;
  -webkit-backface-visibility: hidden;
}
.right-column-area .flex-teaser.col-sm-4 a,
#mainarea .flex-teaser.col-sm-4 a,
.right-column-area .flex-teaser.col-sm-6 a,
#mainarea .flex-teaser.col-sm-6 a,
.right-column-area .flex-teaser.col-sm-12 a,
#mainarea .flex-teaser.col-sm-12 a {
  color: #262626;
  overflow: hidden;
  display: block;
}
.right-column-area .flex-teaser.col-sm-4 a:hover,
#mainarea .flex-teaser.col-sm-4 a:hover,
.right-column-area .flex-teaser.col-sm-6 a:hover,
#mainarea .flex-teaser.col-sm-6 a:hover,
.right-column-area .flex-teaser.col-sm-12 a:hover,
#mainarea .flex-teaser.col-sm-12 a:hover {
  text-decoration: none;
}
.right-column-area .flex-teaser.col-sm-4 a:hover h1,
#mainarea .flex-teaser.col-sm-4 a:hover h1,
.right-column-area .flex-teaser.col-sm-6 a:hover h1,
#mainarea .flex-teaser.col-sm-6 a:hover h1,
.right-column-area .flex-teaser.col-sm-12 a:hover h1,
#mainarea .flex-teaser.col-sm-12 a:hover h1,
.right-column-area .flex-teaser.col-sm-4 a:hover h2,
#mainarea .flex-teaser.col-sm-4 a:hover h2,
.right-column-area .flex-teaser.col-sm-6 a:hover h2,
#mainarea .flex-teaser.col-sm-6 a:hover h2,
.right-column-area .flex-teaser.col-sm-12 a:hover h2,
#mainarea .flex-teaser.col-sm-12 a:hover h2 {
  text-decoration: underline;
}
.right-column-area .flex-teaser.col-sm-4 a:hover img,
#mainarea .flex-teaser.col-sm-4 a:hover img,
.right-column-area .flex-teaser.col-sm-6 a:hover img,
#mainarea .flex-teaser.col-sm-6 a:hover img,
.right-column-area .flex-teaser.col-sm-12 a:hover img,
#mainarea .flex-teaser.col-sm-12 a:hover img {
  opacity: 0.8;
}
.right-column-area .flex-teaser.col-sm-4 img,
#mainarea .flex-teaser.col-sm-4 img,
.right-column-area .flex-teaser.col-sm-6 img,
#mainarea .flex-teaser.col-sm-6 img,
.right-column-area .flex-teaser.col-sm-12 img,
#mainarea .flex-teaser.col-sm-12 img {
  border-radius: 5px;
  border-bottom: 4px solid #d3d3d3;
  transition: opacity 0.3s ease-in-out;
}
.right-column-area .flex-teaser.col-sm-4 .header,
#mainarea .flex-teaser.col-sm-4 .header,
.right-column-area .flex-teaser.col-sm-6 .header,
#mainarea .flex-teaser.col-sm-6 .header,
.right-column-area .flex-teaser.col-sm-12 .header,
#mainarea .flex-teaser.col-sm-12 .header {
  padding-top: 10px;
}
@media (max-width: 767px) {
  .right-column-area .flex-teaser.col-sm-4 .header,
  #mainarea .flex-teaser.col-sm-4 .header,
  .right-column-area .flex-teaser.col-sm-6 .header,
  #mainarea .flex-teaser.col-sm-6 .header,
  .right-column-area .flex-teaser.col-sm-12 .header,
  #mainarea .flex-teaser.col-sm-12 .header {
    padding-top: 0;
  }
}
.right-column-area .flex-teaser.col-sm-4 h2,
#mainarea .flex-teaser.col-sm-4 h2,
.right-column-area .flex-teaser.col-sm-6 h2,
#mainarea .flex-teaser.col-sm-6 h2,
.right-column-area .flex-teaser.col-sm-12 h2,
#mainarea .flex-teaser.col-sm-12 h2 {
  color: #307bb0;
  margin-top: 10px;
  font-weight: 500;
  display: inline;
  padding-right: 24px;
}
@media (max-width: 767px) {
  .right-column-area .flex-teaser.col-sm-4,
  #mainarea .flex-teaser.col-sm-4 {
    margin-bottom: 20px;
  }
  .right-column-area .flex-teaser.col-sm-4 img,
  #mainarea .flex-teaser.col-sm-4 img {
    float: left;
    margin-right: 2%;
    width: 30%;
  }
  .right-column-area .flex-teaser.col-sm-4 div,
  #mainarea .flex-teaser.col-sm-4 div {
    width: 66%;
    float: left;
  }
}
@media (min-width: 768px) {
  .right-column-area .flex-teaser.col-sm-12 img,
  #mainarea .flex-teaser.col-sm-12 img {
    float: left;
    margin-right: 2%;
    max-width: 50%;
  }
  .right-column-area .flex-teaser.col-sm-12 p,
  #mainarea .flex-teaser.col-sm-12 p {
    float: left;
    width: 47%;
  }
}
.right-column-area .flex-teaser.col-sm-12 img,
#mainarea .flex-teaser.col-sm-12 img {
  border-bottom: none;
  border-right: 8px solid #262626;
}
.qa-list {
  margin-top: 30px;
}
.qa-list ul {
  padding-left: 0;
}
.qa-list ul li {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  list-style-type: none;
  padding: 0 2% 10px 0;
}
.qa-list ul li a {
  display: block;
  text-decoration: none;
  font-weight: 700;
  background: transparent url(/Static/img/transparent-arrow-right.png) no-repeat right 3px;
}
.qa-list ul li a:hover {
  text-decoration: underline;
}
#mainarea .right-column-area > div {
  margin-bottom: 45px;
  width: 100%;
  display: inline-block;
}
#mainarea .right-column-area > div h2 {
  font-size: 24px;
}
#mainarea .right-column-area .flex-teaser.col-sm-6,
#mainarea .right-column-area .flex-teaser.col-sm-4 {
  width: 100%;
}
@media (min-width: 768px) {
  #mainarea .right-column-area .flex-teaser.col-sm-12 img {
    float: none;
    margin-right: 0;
    max-width: 100%;
  }
  #mainarea .right-column-area .flex-teaser.col-sm-12 p {
    float: none;
    width: 100%;
  }
}
#mainarea #id_matrix textarea,
#mainarea #id_matrix input[type=text] {
  display: block;
  width: 100%;
}
#mainarea #id_matrix textarea {
  resize: vertical;
}
#mainarea #id_matrix label {
  display: inline;
}
#footer {
  background-color: #262626;
  min-height: 200px;
  padding: 10px 0 20px;
}
#footer .footer-links {
  margin-bottom: 3%;
}
#footer .footer-links img {
  padding: 20px 0;
}
#footer .footer-links ul {
  padding-left: 0;
}
#footer .footer-links ul li {
  border-bottom: 1px solid #51504f;
  margin-bottom: 10px;
  list-style-type: none;
  padding-left: 4%;
  padding-bottom: 10px;
}
#footer .footer-links ul li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}
#footer .footer-links ul li a:hover {
  text-decoration: underline;
}
#footer #copyright-info {
  background-color: #ffffff;
  padding: 5px 0;
  margin-right: 0;
  margin-left: 0;
}
#footer #copyright-info p {
  margin: 10px 5px 10px 0;
  float: left;
}

