<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" restartOnExternalChanges="true" />
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" restartOnExternalChanges="true" />
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" restartOnExternalChanges="true" />
			<section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" restartOnExternalChanges="true" />
		</sectionGroup><section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" /><sectionGroup name="bundleTransformer">
			<section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
		<section name="less" type="BundleTransformer.Less.Configuration.LessSettings, BundleTransformer.Less" /></sectionGroup><sectionGroup name="jsEngineSwitcher">
			<section name="core" type="JavaScriptEngineSwitcher.Core.Configuration.CoreConfiguration, JavaScriptEngineSwitcher.Core" />
		</sectionGroup></configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"><expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2" />
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2" />
				<add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2" />
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2" />
				<add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2" />
			</expressionBuilders></compilation>
    <authentication mode="Forms">
      <forms loginUrl="N2/Login.aspx" timeout="2880">
        <credentials passwordFormat="SHA1">
          <user name="admin" password="678684fbedc1f5fee84625772a3f85ec428623c8" />
        </credentials>
      </forms>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      <add namespace="N2.Linq" /><add namespace="N2.Web.Mvc.Html" /></namespaces>
    <controls>
				<add tagPrefix="n2" namespace="N2.Web.UI.WebControls" assembly="N2" />
			</controls><tagMapping>
				<add tagType="System.Web.UI.HtmlControls.HtmlForm" mappedTagType="N2.Web.UI.WebControls.RawUrlForm" />
			</tagMapping></pages>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />

    <!-- 
		These membership and role providers store their data as content items. You can also use the forms authentication 
		credentials only (then remove these sections) or the default ASP.NET providers (search for asp.net membership) 
		-->
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    
  <membership defaultProvider="ContentMembershipProvider">
    <providers>
      <add passwordFormat="Hashed" name="ContentMembershipProvider" type="N2.Security.ContentMembershipProvider, N2.Management" />
    </providers>
  </membership><roleManager enabled="true" defaultProvider="ContentRoleProvider">
                 <providers>
                   <add name="ContentRoleProvider" type="N2.Security.ContentRoleProvider, N2.Management" />
                 </providers>
               </roleManager><profile defaultProvider="ContentProfileProvider">
                  <providers>
                    <add name="ContentProfileProvider" type="N2.Security.ContentProfileProvider, N2.Management" />
                  </providers>
                </profile><siteMap defaultProvider="PublicSiteMap">
			<providers>
				<add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true" />
			</providers>
		</siteMap><httpModules>
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2" />
		</httpModules><httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers></system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  <modules runAllManagedModulesForAllRequests="true">
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2" />
		</modules><handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    <add name="LessAssetHandler" path="*.less" verb="GET" type="BundleTransformer.Less.HttpHandlers.LessAssetHandler, BundleTransformer.Less" resourceType="File" preCondition="" /></handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BundleTransformer.Core" publicKeyToken="973c344c93aac60d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.17.0" newVersion="1.8.17.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.5.0" newVersion="0.9.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <!-- Please not that you need to configure another database and remove \bin\system.data.sqlite.dll for MEDIUM TRUST -->
    <add name="N2CMS" connectionString="Data Source=CLT-C2XV4S1\SQLEXPRESS;Initial Catalog=UnicornCms;User Id=unicornUser;Password=EPiServer123;;Connect Timeout=30;Application Name=Unicorn;Max Pool Size=1000;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <n2 xmlns="http://n2cms.com/schemas/configuration/v3">
    <!--
			When installing a database from scratch you'll need to insert some required pages. 
			This can be done by the web based installer located at http://yoursite/n2/installation/ 
			-->
    <host rootID="1" startPageID="2" multipleSites="true">
      <vpp>
        <zips>
          <add filePath="~/N2/N2.zip" observedPath="~/N2/" name="n2.management" />
        </zips>
      </vpp>
    </host>
    <engine>
      <errors action="Email" mailTo="" mailFrom="noreply@yourdomain.com" />
      <globalization enabled="true" />
    </engine>
    <database connectionStringName="N2CMS" caching="true">
    </database>
    <edit>
      <installer checkInstallationStatus="true" allowInstallation="No" />
      <editors dynamic="true" />
      <administrators dynamic="true" />
      <writers dynamic="true" />
      <images>
        <sizes>
          <add width="50" height="50" mode="Fill" name="thumb" />
          <add width="960" height="480" mode="Fill" name="wide" />
        </sizes>
      </images>
    </edit>
  </n2>
<dotless minifyCss="false" cache="true" web="false" /><bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
		<core>
			<css>
				<minifiers>
					<add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
				</minifiers>
				<translators>
					<add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
				<add name="LessTranslator" type="BundleTransformer.Less.Translators.LessTranslator, BundleTransformer.Less" /></translators>
			</css>
			<js>
				<minifiers>
					<add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
				</minifiers>
				<translators>
					<add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
				</translators>
			</js>
		</core>
	</bundleTransformer><jsEngineSwitcher xmlns="http://tempuri.org/JavaScriptEngineSwitcher.Configuration.xsd"></jsEngineSwitcher></configuration>