timestamp=2013-12-20 00:00:39
version=1
assembly=ab5edc18-a22c-49ae-8fce-226e40e2a111;BundleTransformer.Core, Version=1.8.17.0, Culture=neutral, PublicKeyToken=973c344c93aac60d
ab5edc18-a22c-49ae-8fce-226e40e2a111=System.Object[N2.Engine.ServiceAttribute];none
ab5edc18-a22c-49ae-8fce-226e40e2a111=N2.ContentItem;none
ab5edc18-a22c-49ae-8fce-226e40e2a111=N2.Plugin.IPluginInitializer;none
ab5edc18-a22c-49ae-8fce-226e40e2a111=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
ab5edc18-a22c-49ae-8fce-226e40e2a111=System.Web.Mvc.IController;none
ab5edc18-a22c-49ae-8fce-226e40e2a111=System.Object[N2.Plugin.IPlugin];none
assembly=d3cb8c04-5fad-4d7a-9601-80d28ce13222;BundleTransformer.Less, Version=1.8.14.0, Culture=neutral, PublicKeyToken=973c344c93aac60d
d3cb8c04-5fad-4d7a-9601-80d28ce13222=System.Object[N2.Engine.ServiceAttribute];none
d3cb8c04-5fad-4d7a-9601-80d28ce13222=N2.ContentItem;none
d3cb8c04-5fad-4d7a-9601-80d28ce13222=N2.Plugin.IPluginInitializer;none
d3cb8c04-5fad-4d7a-9601-80d28ce13222=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
d3cb8c04-5fad-4d7a-9601-80d28ce13222=System.Web.Mvc.IController;none
d3cb8c04-5fad-4d7a-9601-80d28ce13222=System.Object[N2.Plugin.IPlugin];none
assembly=69b1df36-b49f-456f-ac10-e853ff14a9c5;JavaScriptEngineSwitcher.Core, Version=0.9.5.0, Culture=neutral, PublicKeyToken=c608b2a8cc9e4472
69b1df36-b49f-456f-ac10-e853ff14a9c5=System.Object[N2.Engine.ServiceAttribute];none
69b1df36-b49f-456f-ac10-e853ff14a9c5=N2.ContentItem;none
69b1df36-b49f-456f-ac10-e853ff14a9c5=N2.Plugin.IPluginInitializer;none
69b1df36-b49f-456f-ac10-e853ff14a9c5=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
69b1df36-b49f-456f-ac10-e853ff14a9c5=System.Web.Mvc.IController;none
69b1df36-b49f-456f-ac10-e853ff14a9c5=System.Object[N2.Plugin.IPlugin];none
assembly=9e9f795b-2597-438e-806a-a1528179094d;N2, Version=2.5.0.0, Culture=neutral, PublicKeyToken=null
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.TemplateAggregator
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ContentHandler
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ContextBuilder
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ContextHandler
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.InterfaceBuilder
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.InMemoryProfileRepository
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ProfileHandler
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.SlugGenerator
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.DraftRepository
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.FluentDefinitionProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Activity.ActivityRepository`1
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.ContentVersionRepository
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateAnalyzer
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateRegistrator
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionMap
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.TemplateProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.DatabaseFileSystem
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.FileConfigurationParticipator
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.UploadFileHttpHandler
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationChecker
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.UploadFolderSource
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGatewaySelector
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewContentHelperProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.PathDataProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.RouteCollectionProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HtmlHelperProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HttpContextProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewEngineCollectionProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.VirtualPathProviderProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Behaviors.BehaviorInvoker
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditUrlManager
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.AppPathRebaser
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentActivator
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Html.ItemHtmlWriter
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Html.ItemHtmlReader
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`1
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ContentItemRepository
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHInterceptorFactory
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.RelationConfigurationBuilderParticipator
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.AsyncIndexer
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ContentChangeTracker
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.EmptyIndexer
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ContentIndexer
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.Xml.XmlRepository`1
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ContentSource
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.BackwardsCompatibleSearcher
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.FindingContentSearcher
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.IndexableDefinitionExtractor
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.EmptyConfigurationBuilderParticipator
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.DescendantItemFinder
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.TextExtractor
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.VersionSource
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.DatabaseSource
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ActiveContentSource
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TagsRepository
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TemporaryFileHelper
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.ConnectionMonitor
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Resources.ResourceInitializer
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.CacheWrapper
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.DefaultExceptionFilter
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.MessageBroker
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.HttpRequestChannel
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.MultipleSitesInitializer
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerFactoryConfigurator
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ServiceLocatingControllerFactory
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerMapper
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.ContentRendererSelector
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableTokenRenderer
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Slug
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.Authenticated
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.Anonymous
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.Manager
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.MobileDevice
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.TargetingRadar
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Tokens.TokenDefinitionFinder
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.DirectUrlInjector
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Wiki.WikiParser
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableRendererSelector
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.FallbackDisplayableRenderer
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.WritingDisplayableRenderer
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.RssWriter
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityManager
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.Finder.ItemFinder
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`2
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginBootstrapper
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.DynamicSitesProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestLifeCycleHandler
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.AttributeExplorer
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionBuilder
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.DefinitionManager
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ContainerRepository`1
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.DatabaseStatusCache
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.MigrationEngine
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.MappedFileSystem
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.NHInstallationManager
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.VirtualNodeFactory
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandDispatcher
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandFactory
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.StateChanger
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ServiceProvider`1
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.EntityDependencySetter`1
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentDependencyInjector
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ItemNotifier
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Proxying.InterceptingProxyFactory
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipExporter
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipImporter
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlReader
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlWriter
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Drawing.ImageResizer
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestPathProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.DefaultDirectorySelector
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.AsyncWorker
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundCache`1
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundDictionaryCache`2
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ContentAdapterProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGateway
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageInterceptor
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ClassMappingGenerator
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.TrailTracker
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationSource
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditManager
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Navigator
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.TreeSorter
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityEnforcer
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationBuilder
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentPersister
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.SessionProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginFinder
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Heart
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Scheduler
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityManager
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.ObsoleteErrorHandler
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorNotifier
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorHandler
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Host
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.HtmlFilter
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mail.SmtpMailSender
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.CreateUrlProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.EditUrlProvider
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemCopyer
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemDeleter
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemMover
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.CacheManager
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.PartUtilities
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.VersionManager
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.EditableHierarchyBuilder
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Settings.NavigationSettings
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityEnforcer
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestDispatcher
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestHandler
9e9f795b-2597-438e-806a-a1528179094d=N2.ContentItem;N2.ContentItem
9e9f795b-2597-438e-806a-a1528179094d=N2.ContentItem;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubItem
9e9f795b-2597-438e-806a-a1528179094d=N2.ContentItem;N2.Edit.CreatorItem
9e9f795b-2597-438e-806a-a1528179094d=N2.Plugin.IPluginInitializer;N2.Plugin.IPluginInitializer
9e9f795b-2597-438e-806a-a1528179094d=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.NodeAdapter
9e9f795b-2597-438e-806a-a1528179094d=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.EditableAdapter
9e9f795b-2597-438e-806a-a1528179094d=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.RequestAdapter
9e9f795b-2597-438e-806a-a1528179094d=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Parts.PartsAdapter
9e9f795b-2597-438e-806a-a1528179094d=System.Web.Mvc.IController;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubController
9e9f795b-2597-438e-806a-a1528179094d=System.Web.Mvc.IController;N2.Web.Mvc.ContentController
9e9f795b-2597-438e-806a-a1528179094d=System.Web.Mvc.IController;N2.Web.Mvc.ContentController`1
9e9f795b-2597-438e-806a-a1528179094d=System.Object[N2.Plugin.IPlugin];N2.Web.UI.WebControls.ControlPanel
assembly=c9e07973-af88-4200-97e7-544098599e85;N2.Extensions, Version=2.5.0.0, Culture=neutral, PublicKeyToken=null
c9e07973-af88-4200-97e7-544098599e85=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.EditableItemRenderer
c9e07973-af88-4200-97e7-544098599e85=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.N2ControllerFactory
c9e07973-af88-4200-97e7-544098599e85=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.Html.TemplateRenderer
c9e07973-af88-4200-97e7-544098599e85=N2.ContentItem;none
c9e07973-af88-4200-97e7-544098599e85=N2.Plugin.IPluginInitializer;none
c9e07973-af88-4200-97e7-544098599e85=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Mvc.MvcAdapter
c9e07973-af88-4200-97e7-544098599e85=System.Web.Mvc.IController;none
c9e07973-af88-4200-97e7-544098599e85=System.Object[N2.Plugin.IPlugin];none
assembly=d8068e27-7dd2-4df2-b090-fbf3e0bef1c2;N2.IoC.Windsor3, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
d8068e27-7dd2-4df2-b090-fbf3e0bef1c2=System.Object[N2.Engine.ServiceAttribute];none
d8068e27-7dd2-4df2-b090-fbf3e0bef1c2=N2.ContentItem;none
d8068e27-7dd2-4df2-b090-fbf3e0bef1c2=N2.Plugin.IPluginInitializer;none
d8068e27-7dd2-4df2-b090-fbf3e0bef1c2=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
d8068e27-7dd2-4df2-b090-fbf3e0bef1c2=System.Web.Mvc.IController;none
d8068e27-7dd2-4df2-b090-fbf3e0bef1c2=System.Object[N2.Plugin.IPlugin];none
assembly=4dbaf314-3a34-4090-b325-169c64bd111f;N2.Management, Version=2.5.0.0, Culture=neutral, PublicKeyToken=null
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Edit.AutoPublish.PublishScheduledAction
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];Management.N2.Content.LinkTracker.UpdateImagesMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildGroupSource
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Trash.AsyncTrashPurger
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ViewOptionProvider
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditOptionProvider
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.BulkOptionProvider
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.CsvParser
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.LinkTracker.UpdateLinksMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildrenAjaxService
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.NumberOfItemsScheduledAction
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Tags.TagsAjaxService
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateProvider
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateRepository
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Globalization.GlobalizationOptionProvider
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.WizardOptionProvider
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Externals.ExternalContentRepository
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystemSource
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystem.Pages.ImageSizeCache
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FolderNodeProvider
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UpdateFilePrefixMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UploadedFilesResizer
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.VirtualFolderInitializer
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.CleanZoneNameMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.ConvertEnumsMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.FixZoneNamePartsMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Installation.Migrations.RebuildImageSizesMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Installation.Migrations.RecordedAssemblyVersionMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.EditableItemMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionsMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.FixStateMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateChildStateMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTranslationKeyMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTemplateKeyMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAlteredPermissionsMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.InsertAncestralTrailMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAppPathMigration
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionWorker
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Security.ContentProfileRepository
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Resources.IconHandler
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Security.ItemBridge
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Edit.KeepAlive.Pinger
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Edit.LinkTracker.Tracker
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.MessageBoard
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.ChatMessageReceiver
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.DeleteInterceptor
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashCleanupAgent
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashHandler
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.LocationWizard
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Management.Content.Navigation.ChildGroupContainer
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Management.Content.LinkTracker.PermanentRedirect
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Management.Content.Templates.TemplateContainer
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Management.Externals.ExternalItem
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractNode
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractDirectory
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Edit.FileSystem.Items.Directory
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Edit.FileSystem.Items.File
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Edit.FileSystem.Items.RootDirectory
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Management.ManagementItem
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Management.Myself.Analytics.Models.AnalyticsPartBase
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Management.Myself.Analytics.Models.ManageAnalyticsPart
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Security.Items.User
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Security.Items.UserList
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Management.Myself.RootPartBase
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Management.Myself.ActivityPart
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Management.Myself.LanguagesPart
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Management.Myself.RootBase
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Management.Myself.StatisticsPart
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Management.Myself.WizardsPart
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Edit.Trash.TrashContainerItem
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Edit.Wizard.Items.MagicLocation
4dbaf314-3a34-4090-b325-169c64bd111f=N2.ContentItem;N2.Edit.Wizard.Items.Wonderland
4dbaf314-3a34-4090-b325-169c64bd111f=N2.Plugin.IPluginInitializer;N2.Management.Tokens.TokenInitializer
4dbaf314-3a34-4090-b325-169c64bd111f=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.FileSystem.Items.AbstractNodeAdapter
4dbaf314-3a34-4090-b325-169c64bd111f=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Files.FileSystem.Pages.FileSystemNodeAdapter
4dbaf314-3a34-4090-b325-169c64bd111f=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Management.ManagementItemsNodeAdapter
4dbaf314-3a34-4090-b325-169c64bd111f=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Templates.Mvc.Services.MvcOnWebFormPartAdapter
4dbaf314-3a34-4090-b325-169c64bd111f=System.Web.Mvc.IController;N2.Management.Myself.Analytics.Controllers.ManageAnalyticsController
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Activity.RecentActivity
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Copy
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Default
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Delete
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Edit
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Management.Content.EditRecursive
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Export.Default
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Templates.Default
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization._Default
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization.Translate
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Management.Files.Default
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Membership.ListRoles
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Management.Myself.Root
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.LinkTracker._Default
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Membership.Users
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Move
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.Search
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.SortUp
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.paste
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.New
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Security.Default
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Settings.Default
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Versions.Default
4dbaf314-3a34-4090-b325-169c64bd111f=System.Object[N2.Plugin.IPlugin];N2.Edit.Wizard.Default
assembly=ec791f95-d76d-4d96-929e-eaa9b03ba282;N2.Packaging, Version=2.5.0.0, Culture=neutral, PublicKeyToken=null
ec791f95-d76d-4d96-929e-eaa9b03ba282=System.Object[N2.Engine.ServiceAttribute];N2.Web.Hosting.ZipVppInitializer
ec791f95-d76d-4d96-929e-eaa9b03ba282=N2.ContentItem;none
ec791f95-d76d-4d96-929e-eaa9b03ba282=N2.Plugin.IPluginInitializer;none
ec791f95-d76d-4d96-929e-eaa9b03ba282=System.Web.Mvc.IController;none
ec791f95-d76d-4d96-929e-eaa9b03ba282=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
ec791f95-d76d-4d96-929e-eaa9b03ba282=System.Object[N2.Plugin.IPlugin];none
assembly=d9498271-3faa-4ad8-b11c-6b43d5e328de;N2.ReusableParts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
d9498271-3faa-4ad8-b11c-6b43d5e328de=System.Object[N2.Engine.ServiceAttribute];none
d9498271-3faa-4ad8-b11c-6b43d5e328de=N2.ContentItem;N2.Web.ContentListContainerLink
d9498271-3faa-4ad8-b11c-6b43d5e328de=N2.ContentItem;N2.Web.ContentList
d9498271-3faa-4ad8-b11c-6b43d5e328de=N2.ContentItem;N2.ReusableParts.HtmlAnchor
d9498271-3faa-4ad8-b11c-6b43d5e328de=N2.ContentItem;N2.Web.MenuPartBase
d9498271-3faa-4ad8-b11c-6b43d5e328de=N2.ContentItem;N2.Web.MenuPart
d9498271-3faa-4ad8-b11c-6b43d5e328de=N2.ContentItem;N2.Web.RawHtml
d9498271-3faa-4ad8-b11c-6b43d5e328de=N2.ContentItem;N2.Web.Slideshow
d9498271-3faa-4ad8-b11c-6b43d5e328de=N2.ContentItem;N2.Web.SlideshowDirectoryInclude
d9498271-3faa-4ad8-b11c-6b43d5e328de=N2.ContentItem;N2.Web.SlideshowFileInclude
d9498271-3faa-4ad8-b11c-6b43d5e328de=N2.Plugin.IPluginInitializer;none
d9498271-3faa-4ad8-b11c-6b43d5e328de=System.Web.Mvc.IController;none
d9498271-3faa-4ad8-b11c-6b43d5e328de=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Mvc.ContentListAdapter
d9498271-3faa-4ad8-b11c-6b43d5e328de=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.ReusableParts.HtmlAnchorAdapter
d9498271-3faa-4ad8-b11c-6b43d5e328de=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.MenuPartMvcAdapter
d9498271-3faa-4ad8-b11c-6b43d5e328de=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.RawHtmlAdapter
d9498271-3faa-4ad8-b11c-6b43d5e328de=System.Object[N2.Plugin.IPlugin];none
assembly=55dfec11-0fc4-4fab-b3f9-41c9a238c86e;N2.Search.Lucene, Version=2.5.0.0, Culture=neutral, PublicKeyToken=null
55dfec11-0fc4-4fab-b3f9-41c9a238c86e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneLightweightSearcher
55dfec11-0fc4-4fab-b3f9-41c9a238c86e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneAccesor
55dfec11-0fc4-4fab-b3f9-41c9a238c86e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneIndexer
55dfec11-0fc4-4fab-b3f9-41c9a238c86e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneContentSearcher
55dfec11-0fc4-4fab-b3f9-41c9a238c86e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ReindexTextMigration
55dfec11-0fc4-4fab-b3f9-41c9a238c86e=N2.ContentItem;none
55dfec11-0fc4-4fab-b3f9-41c9a238c86e=N2.Plugin.IPluginInitializer;none
55dfec11-0fc4-4fab-b3f9-41c9a238c86e=System.Web.Mvc.IController;none
55dfec11-0fc4-4fab-b3f9-41c9a238c86e=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
55dfec11-0fc4-4fab-b3f9-41c9a238c86e=System.Object[N2.Plugin.IPlugin];none
assembly=ca2d9b35-67f4-4535-ab53-bc6a8dd98bea;UnicornCreations, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
ca2d9b35-67f4-4535-ab53-bc6a8dd98bea=System.Object[N2.Engine.ServiceAttribute];none
ca2d9b35-67f4-4535-ab53-bc6a8dd98bea=N2.ContentItem;UnicornCreations.Models.Pages.ExtendedContentPage
ca2d9b35-67f4-4535-ab53-bc6a8dd98bea=N2.ContentItem;UnicornCreations.Models.Pages.StartPage
ca2d9b35-67f4-4535-ab53-bc6a8dd98bea=N2.Plugin.IPluginInitializer;none
ca2d9b35-67f4-4535-ab53-bc6a8dd98bea=System.Web.Mvc.IController;UnicornCreations.Controllers.StartPageController
ca2d9b35-67f4-4535-ab53-bc6a8dd98bea=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
ca2d9b35-67f4-4535-ab53-bc6a8dd98bea=System.Object[N2.Plugin.IPlugin];none
